/**********************************
GLOBAL
*********************************/
* {
	font-family: 'Source Sans Pro', sans-serif;
}
body {
	margin: 0px;
	background-color: whitesmoke;
	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	width: 960px;
	margin: 0 auto;
}

/* input placeholder text */
input::-webkit-input-placeholder {
	color: lightgrey;
}
input::-moz-placeholder {
	color: lightgrey;
}
input:-moz-placeholder {   /* Older versions of Firefox */
	color: lightgrey;
}
input:-ms-input-placeholder { 
	color: lightgrey;
}

.truncate {
  width: 444px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container .container-items .done {
	background-color: rgb(151, 151, 153);
}

.container .container-items .done:hover {
	background-color: rgb(151, 151, 153);
}


.container .container-items .done .item-content {
	text-decoration: line-through;
}

/**********************************
TOP NAV
*********************************/

.top-nav {
	height: 40px;
	background-color: #3F7DC2;
}

/**********************************
MAIN CONTENT
*********************************/
.main-content {
	background-color: whitesmoke;
}

.main-content .add-item-wrapper {
	width: 570px;
	margin: 0 auto;
	padding: 70px 70px 0px 70px;
}

.main-content .add-item-wrapper input {
	height: 30px;
	margin: 0px;
	border: 1px solid lightgrey;
	background-color: white;
	width: 453px;
	font-size: 20px;
	color: grey;
	padding: 10px;
}

.button-add {
	height: 52px;
	padding: 15px;
	margin: 0px;
	position: relative;
	font-size: 16px;
	background-color: #3BB677;
	border: none;
	color: white;
	vertical-align: 2px;
	cursor: pointer;
	border-bottom: 4px solid #2B8858;
}

.button-add:hover {
	background-color: #1BAA61;
}

/**********************************
SINGLE ITEM
*********************************/
.container-items .item {
	list-style: none;
	margin: 0px;
	width: 570px;
	margin: 0 auto;
	background-color: #E8EEFD;
	border-bottom: 1px solid #DADFE9;
	border-left: 1px solid #DADFE9;
	border-right: 1px solid #DADFE9;
	padding-top: 5px;
}

.container-items .item:hover {
	background-color: #FFF;
	cursor: pointer;
}

.container-items .item:first-child {
	border-top: 1px solid #DADFE9;
}

.container-items .item .checkbox {
	display: inline-block;
	height: 16px;
	width: 16px;
	border: 1px solid black;
	border-radius: 3px;
	cursor: pointer;
	margin: 10px;
}

.container-items .item .item-content {
	display: inline-block;
	vertical-align: middle;
	color: rgb(75, 71, 71);	
	position: relative;
	top: -3px;
	font-size: 17px;
}

.container-items .item .delete-item {
	display: none;
	position: relative;
	top: 0px;
	background-color: rgb(231, 59, 59);
	border: none;
	color: white;
	border-bottom: 3px solid rgb(216, 12, 12);
	font-size: 13px;
	letter-spacing: 1px;
	padding: 5px;
	height: 29px;
	left: 22px;
	cursor: pointer;
}

.container-items .item .delete-item:hover {
	background-color: rgb(224, 43, 43);
}

#editableText {
	height: 25px;
	width: 400px;
	margin: 12px;
	position: relative;
	left: 20px;
	top: -2px;
	font-size: 17px;
}



a.test {
	font-weight: bold;
	font-size: 60px;
}

.textbox {
	display: inline;
}
.add-item-btn {
	display: inline;
}

#modal-background {
	display: none;
    overflow:auto;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
}

#modal {
	background-color: whitesmoke;
	border: 1px solid lightgrey;
	width: 400px;
	height: 200px;
    top:50%;
	margin: -100px auto;
	position: relative;
}

#modal .container-wrapper {
	margin: 0 auto;
}

.error {
	color: red;
	height: 50px;
	display: none;
}

.error p {
	margin: 0px;
	padding-top: 5px;
}

#editableText {
	display: none;
}

.container-items {
	padding: 0px;
}



.hide {
	display: none;
}
